* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

#root {
    width: 100%;
    min-height: 100vh;
}

:root {
    --bg-primary: #0F172A;
    --bg-secondary: #151B34;
    --bg-dark: #02040D;

    --blue-primary: #3B82F6;
    --blue-highlight: #38BDF8;
    --purple-primary: #8B9ACF;
    --pink-highlight: #E84A6A;

    --text-primary: #F8FAFC;
    --text-secondary: #CBD5E1;
    --border: #2563EB;

    --header-h: 8rem;
}

@media (max-width: 768px) {
    :root {
        --header-h: 7rem;
    }
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    overflow-x: hidden;
}
